@model Dictionary<string, Dictionary<int, Dictionary<int, Appointment>>>

<h1>Schedule Your Tour!</h1>
<h4>View available time slots for each day</h4>

<div class="row">

    @foreach (var (month, daylist) in Model)
    {
        <div class="col m-1">
            <h2>@month</h2>

            <div class="accordion" id="accordion">
                @foreach (var (day, hourlist) in daylist)
                {
                    <div class="card">
                        <div class="card-header" id="heading-@month-@day">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-@month-@day">
                                    @month @day
                                </button>
                            </h2>
                        </div>
                        <div id="collapse-@month-@day" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                @foreach (var (hour, appointment) in hourlist)
                                {
                                    <a class="btn my-button d-block m-1 @(appointment.IsBooked ? "disabled" : "")" asp-action="FillForm" asp-controller="Home" asp-route-id="@appointment.Id">@appointment.Time.ToString("h:mm tt")</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>